.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 30%;
  height: 100%;
  background-color: whitesmoke;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.buttonContainer {
  display: flex;
}

.title {
  font-size: 60px;
}

.titleMax {
  font-size: 80px;
  color: red;
}

.miniTitle {
  font-size: 20px;
  color: red
}
